<% stylesheet('assets/'+key+'/portlet.css') %>
<% 
  var netatmo = SARAH.ConfigManager.getModule(key); 
  var info = netatmo.getBasic(SARAH.ConfigManager.getConfig()); 
%>

<div class="logo">
  <a href="sarah/<%=key%>?capteur=-1&mode=-1" class="ajax"><img src="/assets/<%=key%>/images/netatmo.jpg"></a>
</div>

<div class="text">
  <br/><span class="title">Netatmo</span>
  <br/><div class="author">by AVN</div>
  <% for (i=0;i<info.names.length;i++) { if (info.icon[i]!="") {%>
  <br/><span class="status"><%= info.names[i] %> : <img src="/assets/<%=key%>/images/charge_<%= info.icon[i] %>.png" title=""></span>
  <% } } %>
</div>