<% stylesheet('assets/'+key+'/portlet.css') %>
<% 
  var netatmo2 = SARAH.ConfigManager.getModule(key); 
  var info = netatmo2.getBasic(SARAH.ConfigManager.getConfig(), SARAH); 
%>
<div class="logo">
  <a href="sarah/<%=key%>?capteur=-1&mode=-1" class="ajax"><img src="/assets/<%=key%>/images/netatmo.png" title="Interroge Netatmo"></a>
</div>
<div class="text">

<br/><span class="title">Netatmo2</span>
  <div class="author">by AVN</div>
  <span class="status">Connexion:
  <% if (info.connexion==1) { %>
    <img src="/assets/<%=key%>/images/ok.png" title="" width="15" height="15"></span>
    <% for (i=0;i<info.names.length;i++) { if (info.battery[i]!=-1) {%>
    <div class="level"><%= info.names[i] %> <div class="redbar"><div class="greenbar" style="width:<%= info.battery[i]*30/100 %>px;"><%=info.battery[i]%>%</div></div></div>
  <% } } %>
  <% } else { %>
    <img src="/assets/<%=key%>/images/ko.png" title="" width="15"></span>
  <% } %>
</div>